.rickAndMortyListCard-content {
  display: flex;
  flex-wrap: wrap;
}

.favorites-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.rickMortys-content {
  background-image: url("../../images/rickMortyBgndDesk.jpg");
  background-repeat: repeat-y;
  background-size: contain;
}
.link-favorites-content {
  height: 21vh;
  width: 50vw;
  margin: 0 auto;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.link-favorites-content a {
  text-decoration: none;
  color: rgb(234, 248, 42);
  font-weight: bold;
  border: 1px solid yellow;
  background-color: rgba(40, 54, 54, 0.787);
  border-radius: 3px;
  padding: 2%;
}
.fad {
  font-family: "fontawesome";
}

.loading-content {
  width: 100vw;
}
.loading-content img {
  width: 360px;
  margin-top: 12%;
}

@media screen and (max-width: 600px) {
  .link-favorites-content {
    height: 18vh;
    padding: 3%;
  }
}