@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

.charactersList-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0 auto;
  width: 90%;
}

.characters-card {
  box-shadow: 9px 9px 9px 9px rgba(6, 19, 19, 0.863);
  border-radius: 50%;
  border: 9px solid rgb(58, 148, 35);
  margin: 12px;
  margin-bottom: 72px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 360px;
  height: 360px;

  max-width: 90%;
  background-image: url("../../images/rickMortyTazos.jpg");
  background-size: cover;
  /* background-color: rgb(53, 74, 141); */

  font-family: "Nerko One", cursive;
  font-size: 1.5rem;

  color: rgb(18, 32, 94);
}

.character-name {
  /* max-width: min-content; */
  font-size: 2rem;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.918);
}

.characters-card > img {
  width: 220px;
  border-radius: 50%;
  border: 5px solid rgb(38, 42, 92);
}

.likes-content {
  display: flex;
  width: 54%;
  margin: 0 auto;
  justify-content: space-between;
}

#deslikeIcon {
  font-family: "fontawesome";
  font-size: 3rem;
  padding: 6%;

  background-color: orangered;
  color: black;
  filter: brightness(0.3);

  border-radius: 9px;

  transition: 0.6s;
}
#deslikeIcon:hover {
  filter: brightness(1);
}

#likeIcon {
  font-family: "fontawesome";
  font-size: 3rem;
  padding: 6%;

  background-color: lime;
  color: black;
  filter: brightness(0.3);

  border-radius: 9px;

  transition: 0.6s;
}
#likeIcon:hover {
  filter: brightness(1);
}

@media screen and (max-width: 600px) {
  .characters-card > img {
    width: 210px;
  }
  .character-name {
    font-size: 1.5rem;
  }
  .characters-card {
    max-width: 333px;
    height: 333px;
  }
  .likes-content {
    margin-top: 12% !important;
  }
}
