.btn-set-pages {
  height: 180px;
  width: 30%;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}

.btn-set-pages button {
  background-color: lightgreen;
  border: 3px solid black;
  border-radius: 18px;

  transition: 0.3s;
}
.btn-set-pages button:hover {
  background-color: rgb(34, 31, 31);
  color: lightgreen;
  border-color: lightgreen;
}

@media screen and (max-width: 600px) {
  .btn-set-pages {
    height: 99px;
  }
}
