.pokemons-content {
  /* background-color: rgb(82, 131, 80); */
  background-image: url("../../images/pokemonBgndDesk.jpg");
  background-repeat: repeat-y;
  background-size: contain;
}

.btns-content {
  width: 30%;
  margin: 0 auto;
  margin-top: 6%;

  display: flex;
  justify-content: space-evenly;
}

.arrowRight {
  font-family: "fontawesome" !important;
}

@media screen and (max-width: 600px) {

  .pokemons-content {
    background-image: url("../../images/pokemonsBgnd.jpg");
  }
}
