@import url("https://fonts.googleapis.com/css2?family=Piedra&display=swap");

.home-content {
  position: absolute;

  font-size: 6rem;
  letter-spacing: 6px;
  color: rgb(253, 241, 77);

  font-family: "Piedra", cursive;
}

@media screen and (max-width: 600px) {
  .home-content {
    font-size: 3rem;
  }
}
