@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@800&display=swap");

.pokemons-section {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../images/pokemonFavorites.jpg");
  background-size: cover;

  font-family: "Turret Road", cursive;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 2rem;
  color: rgb(7, 37, 7);

  padding-bottom: 3%;
}

.pokemons-section h1 {
  margin: 0 auto;
  margin-top: 7%;
  width: 36%;

  background-color: orange;
  border-radius: 5px;

  padding: 1%;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.cardsList-content {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tazos-content {
  margin: 3%;
}
.pk-remove-icon-content {
  margin-bottom: 9px;
}
.pk-remove-icon-content button {
  border-radius: 7px;
  border: none;
  padding: 6px;
  background-color: #4641079c;
}
#removeFavorite-button i {
  color: #ff7f78 !important;
}

.pokemonsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 240px;
  height: 240px;

  background-image: url("../../images/pokeTazo.png");
  background-size: contain;

  box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.692);
  border: 15px solid rgb(40, 88, 46);
  border-radius: 50%;
}

.cardsList-content img {
  width: 150px;

  margin: 0 auto;
  margin-top: 45%;
  margin-bottom: 3%;
}

.cardsList-content p {
  margin-top: -1% !important;
  margin-bottom: 36%;

  max-width: min-content;

  font-size: 1.2rem;
  letter-spacing: 3px;
  text-shadow: 3px 3px 3px rgba(37, 28, 28, 0.712);
  color: rgb(201, 241, 201);
}

@media screen and (max-width: 600px) {

  .pokemons-section h1 {
    margin-top: 18%;
    width: 72%;
  }

  #removeFavorite-button i {
    font-size: 1.7rem;
  }
}