.favorites-section {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../images/favoritesBgnd.png");
  background-repeat: repeat;
  background-size: contain;
  /* background-position-x: 900px; */
}
.favorites-section h1 {
  width: 36vw;
  margin: 0 auto;
  margin-top: 6%;

  font-family: "Nerko One", cursive;
  color: rgb(26, 26, 63);
  font-size: 2rem;
  background-color: rgb(99 179 20 / 59%);
  border-radius: 3px;
}

.primary-content {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(26, 26, 63);
  font-weight: bold;
  text-transform: capitalize;
}

.favorites-content {
  border-radius: 50%;
}

.remove-icon-content {
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 3%;
}

.remove-icon-content button {
  border-radius: 7px;
  border: none;
  padding: 6px;
  background-color: #4769487a;}

.fa-trash-alt{
  font-size: 2rem;
  color: #ff7f78 !important;
}

.cards-content {
  box-shadow: 9px 9px 9px 9px rgba(6, 19, 19, 0.863);
  border-radius: 50%;
  border: 9px solid rgb(58, 148, 35);
  margin: 12px;
  margin-bottom: px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 240px;
  height: 240px;

  max-width: 90%;
  background-image: url("../../images/rickMortyTazos.jpg");
  background-size: cover;

  font-family: "Nerko One", cursive;
  font-size: 1.2rem;

  color: rgb(18, 32, 94);
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.918);
}

.favorites-content * img {
  border-radius: 50%;
  border: 5px solid rgb(38, 42, 92);
  max-width: min-content;
  width: 145px !important;
}

@media screen and (max-width: 600px) {
  .favorites-content {
    margin-top: 18%;
  }

  .primary-content {
    background-size: cover;
  }
  .favorites-section h1 {
    width: 72%;
    margin-top: 18%;
    font-size: 1.7rem;
  }
}
