@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

.App {
  text-align: center;
}

.App-section {
  background-image: url("./images/bgndHome.jpg");
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  height: 54px;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: rgba(7, 7, 7, 0.685);
  justify-content: space-evenly;
  align-items: center;
}

.App-header * a {
  font-family: "Nerko One", cursive;
  font-size: 2.4rem;
  text-decoration: none;

  font-weight: bold;
  text-transform: uppercase;

  color: wheat;

  margin: 2%;
}

.loading {
  background-image: url("./images/tenor.gif");
  background-size: cover;
  border: 9px solid rgb(224, 224, 26);
  border-radius: 6px;

  width: 460px;
  height: 344px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .App-header * a {
    font-size: 1.2rem;
  }

  .App-header {
    height: 50px;
  }

  .loading {
    max-width: 90%;
    max-height: 36vh;
    background-size: contain;
  }
}
