@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@800&display=swap");

.pokemons-card {
  width: 360px;
  height: 360px;
  margin: 9px;
  margin-bottom: 45px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 15px solid rgb(40, 88, 46);
  background-image: url("../../images/pokeTazo.png");
  background-size: cover;
  box-shadow: 12px 12px 12px 12px rgba(16, 17, 16, 0.719);

  font-family: "Turret Road", cursive;
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(201, 241, 201);
}

.pokemons-card > img {
  width: 210px;

  margin: 0 auto;
  margin-top: 15%;
  border: none !important;
}

.pokemons-card > p {
  font-size: 2rem;
  letter-spacing: 3px;
  margin-top: 3px !important;
  text-shadow: 3px 3px 3px rgba(44, 59, 45, 0.904);
}

.pokemonsCardsList-content {
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.likes-pokemon-content {
  display: flex;
  width: 54%;
  margin-top: -45px !important;
  margin: 0 auto;
  justify-content: space-between;
}

#deslikeIcon {
  font-family: "fontawesome";
  font-size: 3rem;
  padding: 6%;

  background-color: orangered;
  color: black;
  filter: brightness(0.3);

  border-radius: 9px;

  transition: 0.6s;
}
#deslikeIcon:hover {
  filter: brightness(1);
}

#likeIcon {
  font-family: "fontawesome";
  font-size: 3rem;
  padding: 6%;

  background-color: lime;
  color: black;
  filter: brightness(0.3);

  border-radius: 9px;

  transition: 0.6s;
}
#alreadyLiked {
  font-family: "fontawesome";
  font-size: 3rem;
  padding: 6%;

  background-color: lime;
  color: black;

  border-radius: 9px;

  transition: 0.6s;
}

#likeIcon:hover {
  filter: brightness(1);
}

@media screen and (max-width: 600px) {
  .pokemons-card > img {
    margin-top: 21%;
    width: 150px;
  }
  .pokemons-card > p {
    margin-top: 18px;
    font-size: 1.7rem;
    letter-spacing: 2px;
  }
  .pokemons-card {
    margin-top: 27%;
    width: 270px !important;
    height: 270px;

    background-position-y: -1.4px;
  }
  .likes-pokemon-content {
    margin-top: -24% !important;
  }
}
